a {
    text-decoration: none;
}

.instagram-card {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    width: 100%;
    /* max-width: 600px; */
    margin: auto;
}

.instagram-card-header {
    padding: 20px;
    height: 40px;
}

.instagram-card-user-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.instagram-card-action {
    float: right;
    width: 80px;
    padding-top: 10px;
    text-align: right;
    color: #999;
}
.instagram-card-time {
    float: left;
    padding-top: 10px;
    text-align: left;
    color: #999;
}

.instagram-card-user-name {
    margin-left: 20px;
    font-weight: bold;
    color: #262626;
}

.instagram-card-content {
    padding: 20px;
}

.likes {
    font-weight: bold;
}

.instagram-card-content-user {
    margin-right: 0.5rem;
    font-weight: bold;
    color: #262626;
}

.hashtag {
    color: #003569;
}

.comments {
    color: #999;
}

.user-comment {
    color: #003569;
    margin-right: 0.5rem;
}

.instagram-card-footer {
    padding: 20px;
    display: flex;
    align-items: center;
}

hr {
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 0px;
}

.footer-action-icons {
    font-size: 16px;
    color: #ccc;
}

.comments-input {
    border: none;
    margin-left: 10px;
    width: 100%;
}
